// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.comment{
    background: url('leafrule.gif');
    border: 0;
}
 
h2 {
    font-size: 25px;
    font-height: 30px;
    color: green;
}

h1 {
    color: Grey;
    background-color: green;
    font-height: 30px;
}


